@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    background-color: var(--cor-primaria);
 }
 :root {
    --cor-primaria: #051D3B;
    --cor-secundaria: #FFFFFF29;
    --cor-terciaria: #FFFFFF;
    --cor-quartiaria:rgba(80, 129, 251, 0.16);
    --cor-sextaria: #5081FB;
    --cor-quinquiaria: #6BD1FF;
    --fonte-primaria: 'Inter', sans-serif;


}

.cabecalho {
    display: flex;
}
.cabecalho__nav {
    width: 100%;
    margin-left: 32px;
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.cabecalho__nav__logo{
    width: 145px;
    height: 34.05;
   
    
}
.cabecalho__nav__input{
    width: 752px;
    height: 56px;
    border-radius: 8px;
    background-color: var(--cor-secundaria);
    color: var(--cor-terciaria);
    border: none;
    font-size: 16px;
    font-family: var(--fonte-primaria) ;
    
}
.cabecalho__nav__usuario {
    align-content: center;
    align-items: center;
    display: flex;
    width: 106px;
    gap: 8px;
    height: 56px;
}
.cabecalho__nav__usuario__imagen {
    width: 32px;
    height: 32px;
}
.cabecalho__nav__usuario__nome {
    font-size: 16px;
    font-family: var(--fonte-primaria);
    color: var(--cor-terciaria);
    width: 400px;

}
.area{
    width: 98%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.area__menu {
    display: flex;
    flex-direction: column;
    margin-top: 28px;
    margin-left: 32px;
    gap: 16px;
}
.area__menu__titulo{
    font-family: var(--fonte-primaria);
    width: 400;
    color: var(--cor-terciaria);
    font-size: 12px;
    

}
.area__menu_link{
    gap: 16px;
    text-decoration: none;
    font-family: var(--fonte-primaria);
    width: 400;
    font-size: 16px;
    color: var(--cor-terciaria);
    display: flex;
    align-items: center;
}
.area__menu__imagen{
    
}
.area__ide{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
.area__texto {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 752px;
    height: 366px;
    margin-top: 28px;
    margin-left: 56px;
    background-color: var(--cor-quinquiaria);
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    
    
  
}
.area__texto__bola {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 688px;
    height: 302px;
    background-color:black;
    border-radius: 8px;
    gap: 8px;
    
}
.area__texto__bola__orden{
    display: flex;
    width: 95%;
    margin-top: 8px;
    margin-left: 8px;
    display: flex;
    flex-direction: row;
    background-color: black;
    gap: 8px;
}
.area__texto__ide{
    margin-left: 8px;
    width: 656px;
    height: 234px;
    color: var(--cor-terciaria);
    background-color: black;
    border: none;
    resize: none;
    
}
.area__ide__botao {
    margin-top: 20px;
    margin-left: 58px;
    gap: 8px;
    width: 752px;
    height: 52px;
    background-color: var(--cor-quartiaria);
    border-radius: 8px;
    border: none;
    font-weight: 400;
    font-size: 16px;
    font-family: var(--fonte-primaria);
    color: var(--cor-terciaria);
}

.area__projeto{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.area__projeto__titulo{
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 12px;
    color: var(--cor-terciaria);
}
.area__projeto__nome{
    width: 272px;
    height: 56px;
    border-radius: 8px;
    background-color: var(--cor-secundaria);
    border: none;
    font-size: var(--fonte-primaria);
    font-size: 16px;
    font-weight: 400;
    color: var(--cor-terciaria);
    
}
.area__projeto__nome::placeholder {
    font-size: var(--fonte-primaria);
    font-size: 16px;
    font-weight: 400;
    color: var(--cor-secundaria);
    
}
.area__projeto__descricao {
    border-radius: 8px;
    width: 272px;
    height: 80px;
    resize: none;
    font-size: 16px;
    font-size: var(--fonte-primaria);
    font-weight: 400;
    background-color: var(--cor-secundaria);
    border: none;
}
.area__projeto__personlaziza{
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 12px;
    color: var(--cor-terciaria);

}
.area__projeto__linguagen{
    border-radius: 8px;
    width: 272px;
    height: 56px;
    font-size: var(--fonte-primaria);
    font-weight: 400;
    background-color: var(--cor-secundaria);
    border: none;

}
.area__projeto__botao{
    width: 272px;
    height: 56px;
    background-color: var(--cor-sextaria);
    border-radius: 8px;
    color: var(--cor-terciaria);
    font-family: var(--fonte-primaria);

}
.area__projeto__quadro{
    display: flex;
    width: 272px;
    height: 56px;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-primaria);
    border-radius: 8px;
    border-color: var(--cor-terciaria);
    border: 2px solid ;


}
.area__projeto__quadro__quadro{
    width: 256px;
    height: 40px;
    background-color: var(--cor-quinquiaria);
    border-radius: 8px;

}

.rodape {
    padding-bottom: 0px;
}
